/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Buttons
	#Generic Styles
	#whyus
	#Separators
	#Nav
	#Intro
	#facts
	#Services
	#About
	#Contact
	#Media Queries
	#Font-Face */


/* #Typography
================================================== */

h1, h2, h3 {
	font-family: 'novel', sans-serif;
}

h1 {
	color: #e6e7e8;
	font-size: 48px;
	font-weight: normal;
	position: relative;
	z-index: 10;
	margin:20px 0;
	line-height:65px;
}

.caps{text-transform:uppercase;}

h1.small {
	font-size: 90px;
	margin-bottom: 40px;
}

h2 {
	font-size: 36px;
	font-weight: normal;
	color: #18252d;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 50px;

}

h2.white {
	color: #fff;	text-shadow:1px 1px 5px #595959;
}

span.lines {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}

h3 {
	font-size: 25px;
	font-weight: normal;
	color: #fff;
}

h3.white {
	color: #fff;
}

h4 {
	font-family: 'novel', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

h5 {
	font-family: 'novel', sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #fff;
}

p {
	font-family: 'novel', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	color: #333132;
}

p.white {
	color: #f9f9f9;
}

.squares{padding:0 10px;}

/* #Buttons
================================================== */

.button1,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #3a3a3a;
	border: 0;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 6px 10px;
	font-family: 'novel', sans-serif; 
}

.button1:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #3a3a3a;
	background: #e8e8e8;
	border: 0; 
}

.button1:active,
button1:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	color: #3a3a3a;
	background: #e8e8e8;
	border: 0;
}

.button2 {
	background: #e8e8e8;
	border: 0;
	color: #3a3a3a;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	line-height: normal;
	padding: 6px 10px;
	font-family: 'novel', sans-serif; 
}

.button2:hover {
	color: #e8e8e8;
	background: #3a3a3a;
	border: 0; 
}

/* Fix for odd Mozilla border & padding issues */
.button1::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}



/* #Generic Styles
================================================== */

.action {
	margin-top: 50px;
	padding: 40px 0 20px 0;
	text-align: center;
	border-top: 1px solid #d3d3d3;
}

.action p {
	font-size: 22px;
	font-weight: 600;
	color: #515151;
}

.action p.white {
	color: #ececec;
}

.hidden {
	display: none;
}

.greywave{background: url(../images/greywave.png)repeat !important; }
.redwave{background: url(../images/redwave.png)repeat !important;}
.white{color:#fff !important;}
.black{color:#122632 !important;}

.mastablasta{height:20px; margin-top:-19px; background:#30393e; position:relative;}

/* #whyus
================================================== */

#whyus {
	width: 100%;
	min-height: 525px;
	position: relative;
	z-index:222;
}

#whyus .bg2 {
	background:#4b5861 url(../images/whyus-img.jpg) repeat 0 0 fixed;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	z-index: 200;
	width: 100%;
	min-height: 525px;
	padding-bottom:0px;
}

#whyus .descript p{color:white; text-align: center; font-size: 19px; font-weight: normal; line-height: 31px;}

#whyus a.button{background: url(../images/redwave.png)repeat; width:80%; display:block; text-align:center; padding:8px 0; color:white; font-size:16px; text-shadow:1px; text-shadow: 0px 1px 0px black; -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);	box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3); margin:0 auto;}

#whyus a.button img{display:inline; position: relative; top:4px; left:6px;}

#whyus .paper figure.paperimg{padding-left:70px; margin-bottom:3px;}

#whyus .paperbtn{padding-bottom:70px;}


/* #Separators
================================================== */

p.separator {
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	line-height: 38px;
	text-transform: uppercase;
	position: relative;
	z-index: 200;
	text-align: center;
	padding-top: 240px;
}



#separator2 {
	width: 100%;
	height: 500px;
	position: relative;
}

#separator2 .bg3 {
	background: url(../images/bg3.jpg) repeat 0 0 fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

#separator3 {
	width: 100%;
	height: 500px;
	position: relative;
}

#separator3 .bg4 {
	background: url(../images/bg4.jpg) repeat 0 0 fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}



/* #Nav
================================================== */

nav {
	background: #131817;
	width: 100%;
	position: relative;
	z-index: 1000;
	height: 46px;
	padding: 8px 0;
}

nav a.logo{display:inline-block; text-indent: -9999px; background: url(../images/ashford-logo.png)no-repeat;width:195px; height:47px;background-position-y:0; transition:background-position .5s ease; -webkit-transition:background-position .5s ease; -moz-transition:background-position .5s ease; -o-transition: background-position .5s ease;;}

nav.is-sticky{	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3); background:rgba(17,15,15,0.8); width:100%; position:absolute; }

nav.is-sticky a.logo{background-position:0 -54px; transition:background-position .5s ease; -webkit-transition:background-position .5s ease; -moz-transition:background-position .5s ease; -o-transition: background-position .5s ease;}

/* nav {
	background: #fff;
	width: 100%;
	position: relative;
	z-index: 1000;
	text-align: center;
	height: 38px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}*/

nav ul {
	padding-top: 10px;
	float:right;
}

nav ul li {
	display: inline;
	padding: 11px 40px 8px 10px;
	margin: 0;
}



nav a {
	font-family: 'novel', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

nav a:visited {
	color: #fff;
}

nav a:hover {
	color: #ef4035;
}

.sticky-wrapper{top:55px; position:absolute; width:100%;}
.sticky-wrapper.is-sticky{top:0 !important;}


/* Mobile Nav
================================================== */
/* Hover Function - Keep these at the bottom guys! */
nav ul li:hover ul  { 
	opacity:0;
}

nav ul li:hover ul{ 
	visibility:visible;
	opacity:.99;
}

nav ul li.active ul{visibility: visible; opacity: .9;}

#nav-wrap #menu-icon{display:none; color:white;}

@media only screen and (min-width:959px){
		#nav {
		display: block !important;
	}	
	#whyus a.button{width:80%;}

}

@media only screen and (max-width:959px) and (min-width: 768px){
		#nav {
		display: block !important;
	}	
		#whyus .descript p{font-size:18px;}
		#whyus .paper figure.paperimg{padding-left:35px;}
		#whyus .paper figure.paperimg img{width:88%;}
		
}
@media only screen and (max-width:767px) and (min-width: 480px){
	#whyus .paperbtn{padding-bottom:70px; margin-top:25px;}
		#whyus .paper figure.paperimg img{width:88%;}		


}
@media only screen and (max-width: 767px) {

		#nav-wrap #menu-icon{display:block; } 
		
		#nav-wrap #menu-icon{display:block; text-indent: -99999px; width:27px; height:19px; background:url(../images/bars.png)no-repeat; cursor:pointer; position: absolute; right:0px; top:12px; border:1px solid transparent;}
		#nav-wrap #menu-icon.active{background-position-y:-27px; background-color:#435058; border:1px solid #2d383e; border-right:1px solid #2d383e; border-bottom:1px solid #2d383e; border-top:1px solid #2d383e; margin-top:-1px;}
		#nav-wrap{float:right; width:100px;}
		#nav-wrap ul#nav{display:none; top:7px !important; width:130px; box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);}
		#nav-wrap ul#nav li{float:none !important; padding-bottom:10px; padding-top:0; padding-left:0; text-align:left; display:block; }
		#nav-wrap ul#nav li a{padding-left:12px;}
		ul#nav{position: relative; top:30px; background:rgba(17, 15, 15, 0.8); width:90px; left:0px;}	
		
		#whyus .paper figure.paperimg{padding-left:31px;}
		#whyus .paperbtn{margin-top:25px;}
		#whyus .paper figure.paperimg img{width:88%;}		
}
@media only screen and (min-width: 768px) and (max-width: 959px) {


}
@media only screen and (min-width: 480px) and (max-width: 767px) {
			#whyus .paper figure.paperimg{padding-left:45px;}
	
}



/* #Intro
================================================== */

#intro {
	width: 100%;
	height: 565px;
	text-align: center;
	z-index: 100;
}

#intro .bg1 {
	background: url(../images/landing-img-7.jpg) 0 0 repeat fixed;
	background-size: 100% 1075px;
	background-repeat: no-repeat;	
	margin: 0 auto;
	padding: 0;
	position: auto;
	z-index: 100;
	width: 100%;
	height: 600px;
}

.title {
	position: fixed;
	width: 940px;
	z-index: 150;
	top:200px;
}

.title-squares {position: relative; z-index: 150; background:url(../images/titlesquares.png)no-repeat; width:23px; height:24px;margin:0 auto;}

.title p {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	position: relative;
	z-index: 150;
}

.social-intro {
	margin-top: 45px;
	position: relative;
	z-index: 150;
}

.social-intro ul li {
	display: inline;
	margin: 0 5px;
}

.social-intro a {
	opacity: 0.7;
}

.social-intro a:hover {
	opacity: 1;
}



/* #facts
================================================== */

#facts {
	background: #fff;
	position: relative;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

p.mid-text {
	margin-top: 40px;
}

.portfolio {
	text-align: center;
	margin-top: 40px;
}

p.proj-title {
	margin-bottom: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #d3d3d3;
	text-transform: uppercase;
}

p.proj-desc {
	margin-bottom: 35px;
	padding-bottom: 2px;
	border-bottom: 1px solid #d3d3d3;
}

.facts-list #Stage {
	position: relative;
	background-color: rgba(241, 138, 138, 0);
	width: 230px;
	height: 190px;
	overflow: hidden;
}

.facts-list #Stage.ghost-ash-icon-01,
.facts-list #Stage.ghost-ash-icon-02,
.facts-list #Stage.ghost-ash-icon-03 {
	position: none !important;
	margin: auto auto;
	
	min-width: 230px;
	min-height: 190px;
}

.facts-list {
	text-align: center;
}

.facts-list h3 {
	margin:25px 0;
	line-height:27px;
	text-shadow: 1px 1px 3px #595959;
}

.facts-list p {
	margin-top: 10px;
	padding: 0 37px;
}

.facts-list div{
	margin-bottom:40px;
}


/* #Services
================================================== */

#services {
	background: url(../images/bg-dark.jpg) repeat;
	position: relative;
	z-index: 300;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}



.pricing {
	text-align: center;
	margin-bottom: 20px;
}

.pricing h3 {
	margin-top: 70px;
	margin-bottom: 60px;
}

p.p-name {
	background: url(../images/price-name-bg.jpg) repeat;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 0 8px 0;
	margin: 0;
	color: #fff;
}

p.p-price {
	background: url(../images/price-bg.jpg) repeat;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 0 16px 0;
	margin: 0;
}

span.p-small {
	font-size: 14px;
	color: #a0a0a0;
}

.pricing ul {
	background: url(../images/price-feat-bg.jpg) repeat;
	margin: 0;
}

.pricing ul li {
	font-size: 14px;
	text-transform: uppercase;
	color: #d7d7d7;
	border-bottom: 1px solid #333333;
	padding: 10px 0;
	margin: 0;
}

.signup {
	padding: 14px 0;
	margin-bottom: 30px;
}

.signup button2 {
	margin: 0;
}

.signup {
	background: url(../images/price-bg.jpg) repeat;
}



/* #Testimonials
================================================== */

#test {
	background: #fff;
	position: relative;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 95px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}



.actnav{background:url(../images/navarrows.png) no-repeat; width:17px; height:22px; display:block; text-indent:-9999px; top:50px; position: relative;}
.test-next{background-position:-25px 0; float:right;}
.mob-prev{display:none;}

span.client{color:#8f9598; font-size:20px; text-align:center; display:block; }

/* #Contact
================================================== */

#contact {
	background:#18252d;
	position: relative;
	z-index: 300;
	padding-top: 0px;
	padding-bottom:45px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

.ashseal{background:url(../images/ashford-seal.png)no-repeat; width:112px; height:112px; position:absolute; top:-30px; left:0;}



#contact h2.white{margin-top:90px;}
/*** contact form ***/

.done {
	font-family: 'novel', sans-serif;
	color: #fff;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

.contact-form {
	position: relative;
	z-index: 300;
	margin-top: 10px;
	padding-right:20px;
}

.contact-form p {
	font-family: 'novel', sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.contact-form input {
	background: #152027;
	width: 98%;
	height: 28px;
	margin-bottom: 10px;
	padding-left: 4px;
	font-family: 'novel', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	border: 1px solid #152027;
}

.contact-form textarea {
	background: #152027;
	margin-bottom: 10px;
	padding-left: 5px;
	font-family: 'novel', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	width: 98%;
	height: 125px;
	border: 1px solid #152027;
}
.contact-form input:focus{
	color:white;
	font-weight:normal;
}
.contact-form textarea:focus {
		border: 1px solid #ccc;
		color:white;
}

.contact-form input.submit-button {
	background: url(../images/submit.png)no-repeat;
	border: 0;
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 0;
	padding: 3px 4px 0 4px;
	font-family: 'novel', sans-serif; 
	width: 379px;
	height: 42px;
	margin-top:11px;
}

.contact-form input.submit-button:hover {
	color: #fff;
	border: 0; 
}

.contact-form label{font-weight:normal; text-transform: uppercase; color:white; font-size:11px;}

.contact-info {
	margin-top: 36px;
}

.contact-info p{text-align:center;}

.contact-info h5 {
	margin-bottom: 20px;
	text-align:center;
}

.contact-info img {
	vertical-align: middle;
	margin-right: 10px;
}


.firstpara{margin-right:10px; padding-right:20px;}


.copyright {
	border-top: 1px solid #858585;
	text-align: center;
	margin-top: 30px;
	padding-top: 30px;
}

.copyright p {
	color: #858585;
	font-size: 14px;
}



nav select {
	display: none;
}

@media (max-width: 960px) {
	
	nav ul     { 
	}
	

}






/* TESTIMONIAL */
.slides_container {
			display:none;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		.slides_container div {
			display:block;
		}
		
#slides p{font-size:24px; text-align:center; line-height:36px; word-spacing:3px;}

.slides_control{min-height:200px}


/* #Footer
================================================== */

.locate{display:block; padding-left:35px; line-height:12px;}


footer{height:auto; font-size:12px; padding-top:45px; z-index:300; position: relative; padding-bottom:20px;}
footer ul.foot-nav{padding-top:10px;}
footer ul.foot-nav li{float:left; padding-right:30px;}
footer .copyrights{padding-top:10px;}
footer .copyrights span{float:right;}

footer a.footercrest{background:url(../images/footer-crest.png)no-repeat; width:36px; height:42px; display:block; margin:0 auto;}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
		

		
		#intro {
			height: 500px;
		}
		
		
		h1 {
			font-size: 43px;
			margin: 10px 0;
			line-height:55px;
		}
		h1.small {
			font-size: 80px;
			margin-bottom: 20px;
		}
		
		#intro .title{}
		
		#slides p{font-size:20px;}
		

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		h1{
			font-size:40px;
		}
		.title {
			width:768px;
			top:175px;
		}
		
		footer ul.foot-nav li{padding-right:15px;}
		
		input#submit.submit-button{background: url(../images/submit-300.png)no-repeat !important; width:300px;}
		
				#nav li:last-child{padding-right:0;}

		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		input#submit.submit-button{background: url(../images/submit-425.png)no-repeat !important; width:425px;}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	

		.title {
			width:420px;
		}		h1 {
			font-size: 33px;
			line-height:38px;
		}
		
		h1.small {
			font-size: 40px;
			margin-bottom: 20px;
		}
		.title{
			top:175px;			
		}
		.title p {
			font-size: 20px;
			line-height: 28px;
		}
		
		nav ul li {
			padding-left: 10px;
			padding-right: 10px;
		}
		
		#whyus .bg2 {	padding-bottom:10px;}
		
		
		#test{padding-bottom:80px;}
		.actnav{top:0; display:inline-block; float:none; margin:0 8px;}
		.mobnav{text-align:center; padding-top:30px;}
		.test-prev{display:none;}
		.mob-prev{display:inline-block !important;}
		.test-next{}		
		.slides_control{min-height:257px}
		
		footer{padding-bottom:40px;}
		footer ul.foot-nav li{padding:0 21px !important;}
		footer .copyrights{text-align: center;}	
		footer .copyrights span{float:none;}
		footer a.footercrest{margin:6px auto;}
		.one.column.omega.spacer{display:none;}
		.one.column.alpha.spacer{display:none;}

		.contact-form{padding-right:0;}
		
		#slides p{font-size:19px; line-height:30px;}
		.slides_control{min-height:0;}
		
		.facts-list .one-third.column{margin-top:40px;}
		.facts-list .one-third.column.first{margin-top:-35px;}


		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#intro {
			height: 430px;
		}
		
		.title {
			top:150px;
			width:300px;
		}
		
		.intro-line {
			display: none;
		}
		
		h1 {
			font-size: 25px;
			line-height:35px;
			margin:5px 0;
		}
		
		h1.small {
			font-size: 30px;
			margin-bottom: 20px;
		}
		
		.title p {
			font-size: 18px;
			line-height: 28px;
		}
		
		
		nav ul li {
			padding-left: 5px;
			padding-right: 5px;
		}
		
		
		#whyus .bg2 {	padding-bottom:120px;}

		
		#test{padding-bottom:80px;}
		.actnav{top:0; display:inline-block; float:none; margin:0 8px;}
		.mobnav{text-align:center; padding-top:30px;}
		.test-prev{display:none;}
		.mob-prev{display:inline-block !important;}
		.test-next{}		
		.slides_control{min-height:330px}
		
		footer{padding-bottom:40px; padding-top:30px;}
		footer ul.foot-nav li{padding:0 4px !important;}
		footer .copyrights{text-align: center;}	
		footer .copyrights span{float:none;}
		footer a.footercrest{margin:6px auto;}
		
		.one.column.omega.spacer{display:none;}
		.one.column.alpha.spacer{display:none;}

		.contact-form{padding-right:0;}

		input#submit.submit-button{background: url(../images/submit-300.png)no-repeat !important; width:300px;}
		#slides p{font-size:15px; line-height:26px; word-spacing:2px;}
		.slides_control {min-height:0;}

		.facts-list .one-third.column.first{margin-top:-50px;}
		
		span.client{font-size:17px;}
		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'novel';
    src: url('fonts/novelsanspro_regular-webfont.eot');
    src: url('fonts/novelsanspro_regular-webfont-0.eot#iefix') format('embedded-opentype'),
         url('fonts/novelsanspro_regular-webfont.woff') format('woff'),
         url('fonts/novelsanspro_regular-webfont.ttf') format('truetype'),
         url('fonts/novelsanspro_regular-webfont.svg#novel_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Localized */
